.header-top p {
    font-size: 11px;
}

.header-top p i {
    font-size: 11px;
}

.left-side {
    width: 100%;
}

.right-side {
    width: 0%;
}

#navigation ul a:hover {
    color: white;
    background-color: black;
}