

<!-- Wrapper -->
<div id="wrapper">
  <ngx-spinner>
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <!-- START SECTION HEADINGS -->
  <!-- Header Container
      ================================================== -->
  <header id="header-container">
    <!-- Topbar -->
    <div class="header-top">
      <div class="container">
        <div class="top-info hidden-sm-down">
          <div class="call-header">
            <p><i class="fa fa-phone" aria-hidden="true"></i> (234) 0200 17813</p>
          </div>
          <div class="address-header">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 95 South Park Ave, USA</p>
          </div>
          <div class="mail-header">
            <p><i class="fa fa-envelope" aria-hidden="true"></i> info@findhouses.com</p>
          </div>
        </div>
        <div class="top-social hidden-sm-down">
          <div class="login-wrap">
            <ul class="d-flex">
              <li><a routerLink='/login' routerLinkActive="active"><i class="fa fa-user"></i> Login</a></li>
              <li><a routerLink='/register' routerLinkActive="active"><i class="fa fa-sign-in"></i> Register</a></li>
            </ul>
          </div>
          <div class="social-icons-header">
            <div class="social-icons">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn-dropdown dropdown-toggle" type="button" id="dropdownlang" data-toggle="dropdown"
              aria-haspopup="true">
              <img src="../assets/images/en.png" alt="lang" /> English
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownlang">
              <li><img src="../assets/images/fr.png" alt="lang" />France</li>
              <li><img src="../assets/images/de.png" alt="lang" /> German</li>
              <li><img src="../assets/images/it.png" alt="lang" />Italy</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- Topbar / End -->
    <!-- Header -->
    <div id="header">
      <div class="container">
        <!-- Left Side Content -->
        <div class="left-side">
          <!-- Logo -->
          <div id="logo">
            <a href="index.html"><img src="../assets/images/logo.svg" alt=""></a>
          </div>
          <!-- Mobile Navigation -->
          <div class="mmenu-trigger">
            <button class="hamburger hamburger--collapse" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
          <!-- Main Navigation -->
          <nav id="navigation" class="style-1">
            <ul id="responsive">
              <li><a class="current" routerLink='/' routerLinkActive="active">Home</a>
              </li>
              <li><a href="#">Properties</a>
                <ul>
                  <li><a routerLink='/properties' routerLinkActive="active">Featured</a>
                  </li>
                  <li><a routerLink='/properties' routerLinkActive="active">Newly Added</a>
                  </li>
                </ul>
              </li>
              <li><a href="#">Agents</a>
                <ul>
                  <li><a href="agents-listing-grid.html">Agents Grid</a>
                  </li>
                  <li><a href="agents-listing-row.html">Agents List</a>
                  </li>
                  <li><a href="agent-details.html">Agents Details</a>
                  </li>
                </ul>
              </li>

              <li><a href="#">Blog</a>
                <ul>
                  <li><a href="#">Recent Blog</a>

                  </li>
                  <li><a href="#">Property Blog</a>

                  </li>

                </ul>
              </li>

              <li><a href="contact-us.html">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="clearfix"></div>
          <!-- Main Navigation / End -->
        </div>
        <!-- Left Side Content / End -->

        <!-- Right Side Content / End -->
        <div class="right-side hidden-lg-down">
          <!-- Header Widget -->
          <div class="header-widget">
            <a href="submit-property.html" class="button border">Submit Property</a>
          </div>
          <!-- Header Widget / End -->
        </div>
        <!-- Right Side Content / End -->

      </div>
    </div>
    <!-- Header / End -->

  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End -->

  <router-outlet></router-outlet>

  <!-- START FOOTER -->
  <footer class="first-footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="netabout">
              <a href="index.html" class="logo">
                <img src="../assets/images/logo-footer.svg" alt="netcom">
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt architecto soluta laboriosam,
                perspiciatis, aspernatur officiis esse.</p>
            </div>
            <div class="contactus">
              <ul>
                <li>
                  <div class="info">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p class="in-p">95 South Park Avenue, USA</p>
                  </div>
                </li>
                <li>
                  <div class="info">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p class="in-p">+456 875 369 208</p>
                  </div>
                </li>
                <li>
                  <div class="info">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <p class="in-p ti">support@findhouses.com</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="navigation">
              <h3>Navigation</h3>
              <div class="nav-footer">
                <ul>
                  <li><a href="index.html">Home One</a></li>
                  <li><a href="properties-right-sidebar.html">Properties Right</a></li>
                  <li><a href="properties-full-list.html">Properties List</a></li>
                  <li><a href="properties-details.html">Property Details</a></li>
                  <li class="no-mgb"><a href="agents-listing-grid.html">Agents Listing</a></li>
                </ul>
                <ul class="nav-right">
                  <li><a href="agent-details.html">Agents Details</a></li>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="blog.html">Blog Default</a></li>
                  <li><a href="blog-details.html">Blog Details</a></li>
                  <li class="no-mgb"><a href="contact-us.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="widget">
              <h3>Twitter Feeds</h3>
              <div class="twitter-widget contuct">
                <div class="twitter-area">
                  <div class="single-item">
                    <div class="icon-holder">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                      <h5><a href="#">@findhouses</a> all share them with me baby said inspet.</h5>
                      <h4>about 5 days ago</h4>
                    </div>
                  </div>
                  <div class="single-item">
                    <div class="icon-holder">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                      <h5><a href="#">@findhouses</a> all share them with me baby said inspet.</h5>
                      <h4>about 5 days ago</h4>
                    </div>
                  </div>
                  <div class="single-item">
                    <div class="icon-holder">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                      <h5><a href="#">@findhouses</a> all share them with me baby said inspet.</h5>
                      <h4>about 5 days ago</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="newsletters">
              <h3>Newsletters</h3>
              <p>Sign Up for Our Newsletter to get Latest Updates and Offers. Subscribe to receive news in your inbox.
              </p>
            </div>
            <form class="bloq-email mailchimp form-inline" method="post">
              <label for="subscribeEmail" class="error"></label>
              <div class="email">
                <input type="email" id="subscribeEmail" name="EMAIL" placeholder="Enter Your Email">
                <input type="submit" value="Subscribe">
                <p class="subscription-success"></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="second-footer">
      <div class="container">
        <p>2020 © Copyright - All Rights Reserved.</p>
        <p>Made With <i class="fa fa-heart" aria-hidden="true"></i> By Code-Theme</p>
      </div>
    </div>
  </footer>

  <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
  <!-- END FOOTER -->

</div>
<!-- Wrapper / End -->