<section class="search-sec">
    <div class="container">
        <form>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Pickup City</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select> 
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Pickup City</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select> 
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Pickup City</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select> 
                        </div>
                         <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Drop City</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                          <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Vehicle</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                        <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-primary wrn-btn">Search</button>
                           
                        </div>
                        <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-primary wrn-btn">filter</button>
                           
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section> 
 
 <!-- START SECTION SEARCH AREA -->
 <!-- <section class="main-search-field">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="at-col-default-mar">
                    <select>
                        <option value="0" selected>Location</option>
                        <option value="1">New York</option>
                        <option value="2">Los Angeles</option>
                        <option value="3">Chicago</option>
                        <option value="4">Philadelphia</option>
                        <option value="5">San Francisco</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="at-col-default-mar">
                    <select class="div-toggle" data-target=".my-info-1">
                        <option value="0" data-show=".acitveon" selected>Property Status</option>
                        <option value="1" data-show=".sale">For Sale</option>
                        <option value="2" data-show=".rent">For Rent</option>
                        <option value="3" data-show=".rent">Sold</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="at-col-default-mar">
                    <div class="at-col-default-mar">
                        <select>
                            <option value="0" selected>Property Type</option>
                            <option value="1">Family House</option>
                            <option value="2">Apartment</option>
                            <option value="3">Condo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="at-col-default-mar">
                    <select class="div-toggle" data-target=".my-info-1">
                        <option value="0" selected>Beds</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="at-col-default-mar no-mb">
                    <select>
                        <option value="0" selected>Baths</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 no-pds mb-4">
                <div class="at-col-default-mar no-mb">
                    <input class="at-input" type="text" name="min-area" placeholder="Square Fit">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 b-search__main-form label mb-4">
                <input type="text" disabled class="slider_amount m-t-lg-30 m-t-xs-0 m-t-sm-10">
                <div class="slider-range"></div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="at-col-default-mar no-mb">
                    <button class="btn btn-default hvr-bounce-to-right" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- END SECTION SEARCH AREA -->


<!-- STAR HEADER GOOGLE MAP -->
<section class="header-map google-maps pull-top map-leaflet-wrapper" style="height: 500px;">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="true" [zoomControl]="true"
      [scrollwheel]="null">
      <agm-marker-cluster
        imagePath="https://raw.githubusercontent.com/googlearchive/js-marker-clusterer/gh-pages/images/m">
        <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" 
          [markerDraggable]="m.draggable" (markerClick)="clickedMarker(m.label, i)" [iconUrl]="icon" (mouseOver)="mouseOver(m, i)">
  
          <!-- <agm-snazzy-info-window [isOpen]="false">
            <ng-template>
              <strong>InfoWindow content</strong>
            </ng-template>
          </agm-snazzy-info-window> -->
  
          <agm-info-window>
            <strong>InfoWindow content</strong>
          </agm-info-window>
  
        </agm-marker>
      </agm-marker-cluster>
    </agm-map>
    <!-- <div class="container" style="margin-right: 250px;">
      <div class="filter">
        <div class="filter-toggle hidden-md-up"><i class="fa fa-search"></i>
          <h6>START SEARCHING</h6>
        </div>
        <form method="get">
          <div class="filter-item">
            <label>Property Status</label>
            <select name="property-status">
              <option value="">Any Status</option>
              <option value="for-sale">For Sale</option>
              <option value="for-rent">For Rent</option>
              <option value="sold">Sold</option>
            </select>
          </div>
          <div class="filter-item">
            <label>Property Type</label>
            <select name="property-type">
              <option value="">Any Type</option>
              <option value="family-house">Family House</option>
              <option value="apartment">Apartment</option>
              <option value="condo">Condo</option>
            </select>
          </div>
          <div class="filter-item">
            <label>Location</label>
            <select name="property-type">
              <option value="">Any Location</option>
              <option value="family-house">New York</option>
              <option value="apartment">Los Angeles</option>
              <option value="condo">Chicago</option>
              <option value="condo">Philadelphia</option>
              <option value="condo">San Francisco</option>
            </select>
          </div>
          <div class="filter-item mb-3">
            <label>Price</label>
            <input type="text" disabled class="slider_amount m-t-lg-30 m-t-xs-0 m-t-sm-10 mb-3">
            <div class="slider-range mt-2"></div>
          </div>
          <div class="filter-item filter-half mt-3">
            <label>Beds</label>
            <select name="beds" id="property-beds">
              <option value="">Any</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="filter-item filter-half filter-half-last mt-3">
            <label>Baths</label>
            <select name="baths" id="property-baths">
              <option value="">Any</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="clear"></div>
          <div class="filter-item">
            <label>Area</label>
            <input type="number" name="areaMin" class="area-filter filter-1 mb-0" placeholder="Min" />
            <input type="number" name="areaMax" class="area-filter mb-0" placeholder="Max" />
            <div class="clear"></div>
          </div>
          <div class="filter-item">
            <label class="label-submit p-0 m-0">Submit</label>
            <br />
            <input type="submit" class="button alt mb-0" value="SEARCH PROPERTY" />
          </div>
        </form>
      </div>
    </div> -->
  </section>
  <!-- END HEADER GOOGLE MAP -->
  
<div class="inner-pages">
    <!-- START SECTION PROPERTIES LISTING -->
    <section class="properties-right featured portfolio blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 blog-pots">
                    <!-- Block heading Start-->
                    <div class="block-heading">
                        <div class="row">
                            <div class="col-lg-6 col-md-5 col-2">
                                <h4>
                                    <span class="heading-icon">
                                        <i class="fa fa-th-list"></i>
                                    </span>
                                    <span class="hidden-sm-down">Properties Listing</span>
                                </h4>
                            </div>
                            <div class="col-lg-6 col-md-7 col-10 cod-pad">
                                <div class="sorting-options">
                                    <select class="sorting">
                                        <option>Price: High to low</option>
                                        <option>Price: Low to high</option>
                                        <option>Sells: High to low</option>
                                        <option>Sells: Low to high</option>
                                    </select>
                                    <a href="properties-list-right-sidebar.html" class="change-view-btn lde"><i
                                            class="fa fa-th-list"></i></a>
                                    <a href="properties-grid-right-sidebar.html"
                                        class="change-view-btn active-view-btn"><i class="fa fa-th-large"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block heading end -->
                    <div class="row">
                        <div class="item col-lg-4 col-md-4 col-xs-12 landscapes sale"
                            *ngFor="let property of properties">
                            <div class="project-single">
                                <div class="project-inner project-head">
                                    <div class="project-bottom">
                                        <h4><a routerLink="/property/{{property.propertyUniqid}}">View
                                                Property</a><span class="category">Real Estate</span></h4>
                                    </div>
                                    <div class="homes">
                                        <!-- homes img -->
                                        <a routerLink="/property/{{property.propertyUniqid}}"
                                            class="homes-img">
                                            <div class="homes-tag button alt sale">{{property.transactionType}}</div>
                                            <div *ngIf="property.exclusive" class="homes-price">Exclusive</div>
                                            <img src="{{property.photoPath || '../assets/images/feature-properties/fp-1.jpg'}}" alt="home-1"
                                            onerror="this.src='../assets/images/feature-properties/fp-1.jpg';" style="height: 250px;"  class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="button-effect">
                                        <a routerLink="/property/{{property.propertyUniqid}}"
                                            class="btn"><i class="fa fa-link"></i></a>
                                        <a href="https://www.youtube.com/watch?v=2xHQqYRcrx4"
                                            class="btn popup-video popup-youtube"><i class="fas fa-video"></i></a>
                                        <a routerLink="/property/{{property.propertyUniqid}}"
                                            class="img-poppu btn"><i class="fa fa-photo"></i></a>
                                    </div>
                                </div>
                                <!-- homes content -->
                                <div class="homes-content" style="min-height: 300px;">
                                    <!-- homes address -->
                                    <h3><a routerLink="/property/{{property.propertyUniqid}}">{{property.propertyType}}</a></h3>
                                    <p class="homes-address mb-3">
                                        <a routerLink="/property/{{property.propertyUniqid}}">
                                            <i class="fa fa-map-marker"></i><span>{{property.address}}, {{property.city}} , {{property.state}} , {{property.postalCode}}</span>
                                        </a>
                                    </p>
                                    <!-- homes List -->
                                    <ul class="homes-list clearfix">
                                        <li>
                                            <i class="fa fa-bed" aria-hidden="true"></i>
                                            <span>6 Bedrooms</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-bath" aria-hidden="true"></i>
                                            <span>3 Bathrooms</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-object-group" aria-hidden="true"></i>
                                            <span>720 sq ft</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-warehouse" aria-hidden="true"></i>
                                            <span>2 Garages</span>
                                        </li>
                                    </ul>
                                    <!-- Price -->
                                    <div class="price-properties">
                                        <h3 class="title mt-3">
                                            <a routerLink="/property/{{property.propertyUniqid}}">$
                                                {{property.askingPrice}}</a>
                                        </h3>
                                        <div class="compare">
                                            <a href="#" title="Compare">
                                                <i class="fas fa-exchange-alt"></i>
                                            </a>
                                            <a href="#" title="Share">
                                                <i class="fas fa-share-alt"></i>
                                            </a>
                                            <a href="#" title="Favorites">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <a href="agent-details.html">
                                            <i class="fa fa-user"></i> Jhon Doe
                                        </a>
                                        <span>
                                            <i class="fa fa-calendar"></i> {{property.listingDate |  timeago}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
               
            </div>
            <nav aria-label="..." class="mt-5">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- END SECTION PROPERTIES LISTING -->





</div>