<div class="homepage-3">
  <!-- STAR HEADER SEARCH -->
  <section id="home" class="section welcome-area bg-overlay overflow-hidden">
    <div class="hero-main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-inner">
              <h1 class="title text-center" style="color: black;">Find Your Dream Property</h1>
              <h5 class="sub-title text-center" style="color: black;">Patel Estate Have Over Million Properties For You
              </h5>
            </div>
          </div>
          <div class="col-12">
            <div class="banner-search-wrap">
              <ul class="nav nav-tabs rld-banner-tab" style="border-bottom:none;">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" (click)="togglePropertyType('commercial')"
                    href="#tabs_1">Commercial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" (click)="togglePropertyType('residential')"
                    href="#tabs_2">Residential</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tabs_1">
                  <div class="rld-main-search">
                    <div class="row" style="font-size: 10px;">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="rld-single-input left-icon searchhide">
                          <input name="propertysearchinput" value="" [(ngModel)]="propertysearchinput" type="text"
                            placeholder="Entry Landmark Location">
                        </div>
                      </div>

                      <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
                        <div class="rld-single-select">
                          <select class="select single-select" name="propertyTypedropdown"
                            [(ngModel)]="propertyTypeinput">
                            <option value="">Property Type</option>
                            <option value="Land">Land</option>
                            <option value="Office">Office</option>
                            <option value="Retail">Retail</option>
                            <option value="Industrial">Industrial</option>
                            <option value="Other">Other</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
                        <div class="rld-single-select">
                          <select class="select single-select" name="minPriceInput" [(ngModel)]="minPriceInput">
                            <option value="">Min Price</option>
                            <option value=250000>25,000</option>
                            <option value=500000>50,000</option>
                            <option value=750000>75,000</option>
                            <option value=1000000>100,000</option>
                            <option value=1250000>125,000</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
                        <div class="rld-single-select">
                          <select class="select single-select" name="maxPriceInput" [(ngModel)]="maxPriceInput">
                            <option value="">Max Price</option>
                            <option value=0>0</option>
                            <option value=250000>25,0000</option>
                            <option value=500000>50,0000</option>
                            <option value=750000>75,0000</option>
                            <option value=1000000>100,0000</option>
                            <option value=1250000>125,0000</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xl-2 col-lg-4 col-md-4">
                        <a class="btn btn-yellow" (click)="commercial()">Search</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tabs_2">
                  <div class="rld-main-search">
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="rld-single-input left-icon searchhide">
                          <input name="propertysearchinput" value="" [(ngModel)]="propertysearchinput" type="text"
                            placeholder="Entry Landmark Location">
                        </div>
                      </div>

                      <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
                        <div class="rld-single-select">
                          <select class="select single-select" name="propertyTypedropdown"
                            [(ngModel)]="propertyTypeinput">
                            <option value="">Property Type</option>
                            <option value="Single Family">Single Family</option>
                            <option value="Multi-family">Multi-family</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
                        <div class="rld-single-select">
                          <select class="select single-select" name="minPriceInput" [(ngModel)]="minPriceInput">
                            <option value="">Min Price</option>
                            <option value=250000>25,000</option>
                            <option value=500000>50,000</option>
                            <option value=750000>75,000</option>
                            <option value=1000000>100,000</option>
                            <option value=1250000>125,000</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
                        <div class="rld-single-select">
                          <select class="select single-select" name="maxPriceInput" [(ngModel)]="maxPriceInput">
                            <option value="">Max Price</option>
                            <option value=0>0</option>
                            <option value=250000>25,0000</option>
                            <option value=500000>50,0000</option>
                            <option value=750000>75,0000</option>
                            <option value=1000000>100,0000</option>
                            <option value=1250000>125,0000</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xl-2 col-lg-4 col-md-4">
                        <a class="btn btn-yellow" (click)="residential()">Search</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="popular-searchs" *ngIf="display == 'residential'">
              <li>
                <a (click)="residential('Single Family')">
                  <span class="box">
                    <img src="../assets/images/icons/icon-7.svg" width="45" height="45" alt="">
                    <span>Single Family</span>
                  </span>
                </a>
              </li>
              <li>
                <a (click)="residential('Multi-family')">
                  <span class="box">
                    <img src="../assets/images/icons/icon-8.svg" width="45" height="45" alt="">
                    <span>Multi Family</span>
                  </span>
                </a>
              </li>
              <li>
                <a>
                  <span class="box">
                    <img src="../assets/images/icons/icon-9.svg" width="45" height="45" alt="">
                    <span>Luxury House</span>
                  </span>
                </a>
              </li>
              <li>
                <a>
                  <span class="box">
                    <img src="../assets/images/icons/icon-10.svg" width="45" height="45" alt="">
                    <span>Villa House</span>
                  </span>
                </a>
              </li>
              <li>
                <a>
                  <span class="box">
                    <img src="../assets/images/icons/icon-11.svg" width="45" height="45" alt="">
                    <span>Town House</span>
                  </span>
                </a>
              </li>
            </ul>

            <ul class="popular-searchs" *ngIf="display == 'commercial'">
              <li>
                <a (click)="commercial('Land')">
                  <span class="box">
                    <img src="../assets/images/icons/icon-7.svg" width="45" height="45" alt="">
                    <span>Land</span>
                  </span>
                </a>
              </li>
              <li>
                <a (click)="commercial('Retail')">
                  <span class="box">
                    <img src="../assets/images/icons/icon-8.svg" width="45" height="45" alt="">
                    <span>Retail</span>
                  </span>
                </a>
              </li>
              <li>
                <a (click)="commercial('Office')">
                  <span class="box">
                    <img src="../assets/images/icons/icon-9.svg" width="45" height="45" alt="">
                    <span>Office</span>
                  </span>
                </a>
              </li>

              <li>
                <a (click)="commercial('Industrial')">
                  <span class="box">
                    <img src="../assets/images/icons/icon-11.svg" width="45" height="45" alt="">
                    <span>Industrial</span>
                  </span>
                </a>
              </li>
              <li>
                <a (click)="commercial('Other')">
                  <span class="box">
                    <img src="../assets/images/icons/icon-10.svg" width="45" height="45" alt="">
                    <span>other</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END HEADER SEARCH -->


  <!-- START SECTION POPULAR PLACES -->
  <section class="popular-places">
    <div class="container">
      <div class="section-title">
        <h3>Popular Commercial</h3>
        <h2>Places</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Image Box -->
          <a (click)="Popularcommercial('Toronto')" class="img-box hover-effect">
            <img src="../assets/images/popular-places/12.jpg" class="img-responsive" alt="">
            <!-- Badge -->
            <div class="listing-badges">
              <span class="featured">Featured</span>
            </div>
            <div class="img-box-content visible">
              <h4>Toronto </h4>
              <!-- <span>203 Properties</span> -->
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Image Box -->
          <a (click)="Popularcommercial('Edmonton')" class="img-box hover-effect">
            <img src="../assets/images/popular-places/13.jpg" class="img-responsive" alt="">
            <div class="img-box-content visible">
              <h4>Edmonton</h4>
              <!-- <span>307 Properties</span> -->
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Image Box -->
          <a (click)="Popularcommercial('Calgary')" class="img-box hover-effect">
            <img src="../assets/images/popular-places/14.jpg" class="img-responsive" alt="">
            <div class="img-box-content visible">
              <h4>Calgary </h4>
              <!-- <span>409 Properties</span> -->
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Image Box -->
          <a (click)="Popularcommercial('Ottawa')" class="img-box hover-effect">
            <img src="../assets/images/popular-places/15.jpg" class="img-responsive" alt="">
            <!-- Badge -->
            <div class="listing-badges">
              <span class="featured">Featured</span>
            </div>
            <div class="img-box-content visible">
              <h4>Ottawa</h4>
              <!-- <span>507 Properties</span> -->
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Image Box -->
          <a (click)="Popularcommercial('Montreal')" class="img-box hover-effect">
            <img src="../assets/images/popular-places/16.jpg" class="img-responsive" alt="">
            <!-- Badge -->
            <div class="listing-badges">
              <span class="featured">Featured</span>
            </div>
            <div class="img-box-content visible">
              <h4>Montreal</h4>
              <!-- <span>507 Properties</span> -->
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Image Box -->
          <a (click)="Popularcommercial('Vancouver')" class="img-box hover-effect">
            <img src="../assets/images/popular-places/17.jpg" class="img-responsive" alt="">
            <!-- Badge -->
            <div class="listing-badges">
              <span class="featured">Featured</span>
            </div>
            <div class="img-box-content visible">
              <h4>Vancouver</h4>
              <!-- <span>507 Properties</span> -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- END SECTION POPULAR PLACES -->


  <!-- START SECTION FEATURED PROPERTIES -->
  <section class="featured portfolio">
    <div class="container">
      <div class="row">
        <div class="section-title col-md-5">
          <h3 style="padding: 5px 0 0 20px;">Exclusive</h3>
          <h2 style="padding: 0px 0 0 20px;">Properties</h2>
        </div>
      </div>

      <div class="row">

        <div class="item col-lg-4 col-md-6 col-xs-12 landscapes sale" *ngFor="let property of properties;  let i=index"
          >
          <div class="project-single" *ngIf="i<6">
            <div class="project-inner project-head">

              <div class="homes" >
                <!-- homes img -->
                <a style="cursor: pointer;" routerLink="/property/CommercialProperty/{{property.propertyUniqid}}" class="homes-img"
                  target="_blank" >

                  <div *ngIf="property.exclusive" class="homes-price">
                    Exclusive</div>

                  <div class="grid">
                    <div *ngIf="property.photoPath" class="img" style="background-image:
                                url('{{property.photoPath}}'), url('../../assets/images/feature-properties/fp-1.jpg')">
                    </div>

                    <div *ngIf="!property.photoPath" class="img" style="background-image:
                                    url('../../assets/images/feature-properties/fp-1.jpg')">
                    </div>
                  </div>

                </a>

              </div>

            </div>
            <!-- homes content -->
            <div class="homes-content" style="min-height: 100%; max-height: 100%;">
              <!-- homes address -->
              <h3><a>{{property.propertyType}}</a>
                <div class="pull-right" style="font-size: 12px;">
                  {{property.transactionType }}
                </div>
              </h3>


              <p class="homes-address mb-3" style="text-overflow: ellipsis; white-space: nowrap;
                overflow: hidden; margin-bottom: 6px!important;">
                <a>
                  <i class="fa fa-map-marker"></i>
                  <span>{{property.address}},
                    {{property.city}}
                    <span *ngIf="property.state">,{{property.state}}</span>
                    ,{{property.postalCode}}
                  </span>
                </a>
              </p>
              <!-- homes List -->
              <ul class="homes-list clearfix">
                <li *ngIf="property.bedroomsTotal">
                  <i class="fa fa-bed" aria-hidden="true"></i>
                  <span>{{property.bedroomsTotal ? property.bedroomsTotal : '0' }}
                    Bed</span>
                </li>
                <li *ngIf="property.bathroomTotal">
                  <i class="fa fa-bath" aria-hidden="true"></i>
                  <span>{{property.bathroomTotal ? property.bathroomTotal : '0'}}
                    Bath</span>
                </li>


              </ul>
              <!-- Price -->
              <div class="price-properties">
                <h3 class="title mt-3" style="text-overflow: ellipsis; white-space: nowrap;
                    overflow: hidden;">
                  <a *ngIf="property.askingPrice">
                    {{(property.askingPrice ? property.askingPrice : "NA") |  currency:'USD':'symbol':'4.0-0'}}
                  </a>

                  <a *ngIf="!property.askingPrice">
                    $ N/A
                  </a>

                  <a *ngIf="property.baseRent && property.baseRent != 'N/A' ">
                    {{(property.baseRent)}}
                  </a>

                  <a *ngIf="!property.baseRent && property.baseRent == 'N/A' ">
                    $ N/A
                  </a>


                </h3>


                <div class="compare">
                  <a title="Share">
                    <i class="fas fa-share-alt"></i>
                  </a>
                  <a title="Favorites">
                    <i class="fa fa-heart-o"></i>
                  </a>
                </div>
              </div>
              <div class="footer">
                <a>
                  ID: {{property.mlsId}}
                </a>
                <span *ngIf="property.listingDate">
                  <i class="fa fa-calendar"></i>
                  {{property.listingDate | timeago }}
                </span>
                <span *ngIf="property.listingContractDate">
                  <i class="fa fa-calendar"></i>
                  {{property.listingContractDate | timeago }}
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="bg-all">
      <a routerLink="/properties/CommercialProperties" routerLinkActive="active" class="btn btn-outline-light">View
        All</a>
    </div>
  </section>
  <!-- END SECTION FEATURED PROPERTIES -->


  <!-- START SECTION TESTIMONIALS -->
  <section class="testimonials bg-gray">
    <div class="container">
      <div class="section-title">
        <h3>Happy</h3>
        <h2>Customers</h2>
      </div>
      <section>
        <div class="row">
          <div class="col-md-4">
            <div class="bg-light position-relative px-3 mt-5 text-center py-5 bgcolor">
              <div class="my-2">

              </div>
              <div class="px-3 text-center pb-3">
                <p class="font-weight-light my-3 text-secondary">Lorem ipsum dolor sit consectetur adipisicing elit.
                  Alias amet
                  deleniti et fugit iusto nesciunt.</p>
              </div>
            </div>
            <div>
              <div
                class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white mt-4"
                style="width: 60px;height: 60px;">
                <img class="rounded-circle"
                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
                  alt="" height="55px" width="55px">
              </div>
              <div class="text-center">
                <h5 class="font-weight-bold mt-4 mb-0" style="color: black">Ramin JD</h5>
                <small class="font-weight-bold">Manager</small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div style="background-color: #f8d237;" class="position-relative px-3 mt-5 text-center py-5">
              <div class="my-2">

              </div>
              <div class="px-3 text-center pb-3">
                <p class="font-weight-light my-3 text-white" style="color:black!important">Lorem ipsum dolor sit
                  consectetur adipisicing elit. Alias
                  amet
                  deleniti et fugit iusto nesciunt.</p>
              </div>
            </div>
            <div>
              <div
                class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white mt-4"
                style="width: 60px;height: 60px;">
                <img class="rounded-circle"
                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
                  alt="" height="55px" width="55px">
              </div>
              <div class="text-center">
                <h5 class="font-weight-bold mt-4 mb-0 " style="color:black">Semin Jee</h5>
                <small class="font-weight-bold" style="line-height: 1">CEO</small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-light position-relative px-3 mt-5 text-center py-5 bgcolor">
              <div class="my-2">

              </div>
              <div class="px-3 text-center pb-3">
                <p class="font-weight-light my-3 text-secondary">Lorem ipsum dolor sit consectetur adipisicing elit.
                  Alias amet
                  deleniti et fugit iusto nesciunt.</p>
              </div>
            </div>
            <div>
              <div
                class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white mt-4"
                style="width: 60px;height: 60px;">
                <img class="rounded-circle"
                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
                  alt="" height="55px" width="55px">
              </div>
              <div class="text-center">
                <h5 class="font-weight-bold mt-4 mb-0 " style="color: black">Hadi Najafi</h5>
                <small class="font-weight-bold" style="line-height: 1">Developer</small>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <!-- END SECTION TESTIMONIALS -->


</div>

<app-footer></app-footer>